.font-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin: 8px 76px;
}

.font-cards__item {
  min-width: 192px;
  margin: 10px;
  padding: 10px;
}

.font-cards__item-title {
    padding: 16px 16px 0;
}
