.display-block {
  display: block !important;
}

.display-flex {
  display: flex !important;
}

.padding-0 {
  padding: 0 !important;
}

.margin-0 {
  margin: 0 !important;
}

.padding-20px {
  padding: 20px !important;
}

.text-align-center {
  text-align: center !important;
}

.visibility-hidden {
  visibility: hidden !important;
}
